@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/mixin';

@import './base/common';
@import './base/container';

@import './components/logo';
@import './components/social-links';
@import './components/title';

@import './layout/header';
@import './layout/mobile-menu';
@import './layout/hero';
@import './layout/preferences';
@import './layout/works';
@import './layout/team';
@import './layout/customers';
@import './layout/footer';
@import './layout/footer-mini-form';
@import './layout/modal-window';

@import './pages/portfolio-filters';
@import './pages/portfolio-projects';