.mobile-menu {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.mobile-menu__container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    padding: 48px 40px;
}
.mobile-menu__close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    fill: var(--main-color);
}

.mobile-menu__group {
   margin-top: auto;
}

.mobile-menu__nav {
    font-weight: 500;
    font-size: 40px;
}

.mobile-menu__nav-item:not(:last-of-type) {
    margin-bottom: 32px;
}

.mobile-menu__nav-link {
    color: var(--main-color);
    line-height: calc(47/40);
    letter-spacing: 0.02em;
}

.mobile-current {
    color: var(--accent-color);
}

.mobile-menu__contacts {
    margin-bottom: 64px;
}

.mobile-menu__contacts-item {
    &:first-of-type {
        margin-bottom: 32px;
    }

    &:first-child {
        font-weight: 500;
        font-size: 24px;
        line-height: 40px;
        letter-spacing: 0.02em;
    }

    &:last-child {
        font-weight: 500;
        font-size: 24px;
        line-height: calc(28/24);
        letter-spacing: 0.02em;
    }
}

.mobile-menu__contacts-tel {
    color: var(--accent-color);
}

.mobile-menu__contacts-email {
    color: var(--second-color);

    &:focus {
    color: var(--accent-color);
    }
}

.mobile-menu__socials {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-bottom: -10px;
}

.mobile-menu__socials-item {
    margin-right: 10px;
    margin-bottom: 10px;
}

.mobile-menu__socials-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.mobile-menu__socials-item:not(:last-child) .mobile-menu__socials-link {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}

@media screen and (min-width: 480px) {
    .mobile-menu__contacts-item {
        &:first-child {
            font-size: 40px;
        }
    }
}