.logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: #2196f3;
}

.logo--white {
    color: var(--white-color);
}

.logo--black {
    color: #000000;
}

@media screen and (min-width: 768px) {
    .logo--black {
        margin-right: 93px;
    }
}

@media screen and (min-width: 1200px) {
    .logo--white {
        font-size: 26px;
        margin-right: 93px;
    } 
}